@import "node_modules/bulma/bulma";

.table.services {
  table-layout: fixed;
}

.header {
  border-top: 6px solid #0a6ebd;
  border-bottom: 1px solid #eee;
}

.breadcrumbs {
  margin: 5px 0 40px 0px;
  font-size: .8em;
}

span.is-danger {
  background-color: #ff3860;
  padding: 5px;
}