@import "node_modules/bulma/bulma";

.table.services {
  table-layout: fixed;
}

.header {
  border-top: 8px solid #0a6ebd;
  background-color: #ddd !important;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}