@import "node_modules/bulma/bulma";
@import "../../../node_modules/font-awesome/css/font-awesome.css";

.table.services {
  table-layout: fixed;
}

.header {
  border-top: 6px solid #0a6ebd;
  border-bottom: 1px solid #eee;
}

.breadcrumbs {
  margin: 5px 0 40px 0px;
  font-size: .8em;
}

span.is-danger {
  background-color: #ff3860;
  padding: 5px;
}

.toggle-charts {
  position: absolute;
  right: 0px;
}

// Charts

@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

.axis--y .tick line {
  display: none;
}

.circleGraph .circlePercent {
  text-align: center;
}

.circleGraph .circlePercent .percentText {
  font-family: 'Arvo', serif;
  font-size: 85px;
  color: #555;
  line-height: 85px;
}

.circleGraph .circlePercent .percentLable {
  font-family: 'Arvo', serif;
  font-size: 18px;
  color: #777;
}

.circleGraph .circlePercent .percentLable.small {
  font-size: 16px;
}

.eServices .nodeText {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  padding-top: 10px;
}